.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #4226b9;
}
button {
    border: 1px solid #e67345;
    font: inherit;
    color: #e67345;
    background: white;
    border-radius: 2px;
    cursor: pointer;
}
button:hover, button:active {
    color: white;
    background: #e67345;;
}
